// Ajuste de imágenes


.imagen-noticia-prev {
    height: @cuadratin * 5.7; 
    overflow: hidden;
    max-width: 310px;

    .excedente-imagen {
        position: center;
        width: auto;
        height: 150%;
    }

    &.angosta {
        width: 280px;
        
        .excedente-imagen {
            position: center;
            width: auto;
            height: 250%;
        }
    }

    &.sm {
        padding: 15px;
        .excedente-imagen {
            position: center;
            width: 100%;
            height: auto;
        }
    }
}

// Extra small screen / phone
@media(max-width: @screen-xs-max){

    // Contenedor del carousel
    .imagenes-destacadas-ead {
    min-height: @cuadratin * 10;
    }

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
    height: @cuadratin * 10;
    }

    .imagen-noticia-prev {
        max-width: 100%; 
        overflow: hidden;

            .excedente-imagen {
                overflow: hidden;
                position: center;
                width: 130%;
                height: auto;
            }
    }
}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

    // Contenedor del carousel
    .imagenes-destacadas-ead {
        min-height: @cuadratin * 18;
    }

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
    height: @cuadratin * 18;
    }
}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){

    // Contenedor del carousel
    .imagenes-destacadas-ead {
        min-height: @cuadratin * 16;
    }

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
    height: @cuadratin * 16;
    } 

    .imagen-noticia-prev {
        width: 100%; 
        overflow: hidden;

        .excedente-imagen {
            overflow: hidden;
            position: center;
            width: 170%;
            height: auto;
        }
    }
}

// Large screen / wide desktop

@media (min-width: @screen-lg){

    // Contenedor del carousel
    .imagenes-destacadas-ead {
        min-height: @cuadratin * 22.7;
    }

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
        height: @cuadratin * 22.7;
        position: relative;
    }

}