// Ajuste de imágenes
    
.ancho-maximo {
    width: 120%;
}

.prev-imagen {
    position: relative;
    overflow: hidden;

        img{
            overflow: hidden;
        }

    &.xs {

    }

    &.sm {
        margin: 0;
        height: @cuadratin * 6;
        margin-bottom: 15px;

        img {

        }
    }

    &.md {
        margin: 0;
        padding: 0;
        height: @cuadratin * 14;
        width: inherit;
        position: relative;
        display: inline-block;
        background: black;
        padding: 0;

        img {
            height: auto;
            width: 145%;
        }
    }

    &.lg {

    }

    &.por-categoria {
        margin: 0 0 @cuadratin / 2 0;
        height: 140px;
    }

}


.noticia {

    &.grande {

    .noticia-imagen {
    position: relative;
    overflow: hidden;
    height: @cuadratin * 20;
    border: 1px solid @gris-blanco;
    background-color: @gris-blanco;

        img{
        height: auto;
        width: 100%;
        }
    }
}

}

.categoria {

    h2 {
        color: @rojo-opuesto;
    }
}

.texto-noticia {
    
    //background-color: @gris-claro;
    margin: 0;

    h1, h3 {
        margin: 0;
        color: @rojo-claro;
    }

    &.grande {
    padding-top: @cuerpo / 3;
    min-height: @cuadratin * 6;
    background-color: @gris-blanco
    }

    &.chico {
    padding-top: @cuerpo / 6;
    min-height: @cuadratin * 5;

    p {
        margin-top: @cuerpo;
    }
    }
}


.contenedor-trio-noticias {
    width: 100%;
    float: left;
    clear: none;
}


// Extra small screen / phone
@media(max-width: @screen-xs-max){

    // Contenedor del carousel
    .imagen-carousel {
    min-height: @cuadratin * 10;
    }

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 120%;
    }

    .prev-imagen {

        &.sm {
            height: auto;

            img {
                width: 120%;
                height: auto;
            }
        }

        &.md {
            width: 100%;
            padding: 0;
            margin: 0;
            float: left;

            img {
                height: 130%;
                width: auto;
            }
        }
    }

    // Portada noticias

    // Revisar esto: Juancho

    .noticia {

        &.grande {
        
        .noticia-imagen {
        position: relative;
        overflow: hidden;
        height: @cuadratin * 12;

            img{
            height: auto;
            }
        }
}

        &.chica {
        text-align: center;

            img{
            overflow: hidden;
            width: 100%;
        }
    }
}

    .texto-noticia {

    &.chico {
    padding-top: @cuerpo / 6;
    min-height: @cuadratin * 5;
    }
}

}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

    // Contenedor del carousel
    .imagen-carousel {
        height: @cuadratin * 18;
    }

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
        overflow: hidden;
        position: absolute;
        bottom: -10%;
        width: 120%;
    }

    .prev-imagen {

        &.sm {
            height: @cuadratin * 6.5;

            img {
                width: 120%;
                height: auto;
            }
        }

        &.md {
            width: 100%;
            padding: 0;
            margin: 0;
            float: left;

            img {
                height: 170%;
                width: auto;
            }
        }
    }

    // Revisar esto: Juancho
        .noticia {

        &.grande {
        
        .noticia-imagen {
        position: relative;
        overflow: hidden;
        height: @cuadratin * 12;


            img{
            height: auto;
            width: 150%;
            }
        }
}

        &.chica {
        text-align: center;

            img{
            overflow: hidden;
            width: 100%;
        }
    }
}

}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){

    // Contenedor del carousel
    .imagen-carousel{
        min-height: @cuadratin * 16;
    }

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
        overflow: hidden;
        position: absolute;
        bottom: -40%;
        width: 100%;
    } 

    .prev-imagen {

        &.sm {
            height: 200px;

            img {
                width: 150%;
                height: auto;
            }
        }

        &.md {
            width: 100%;
            padding: 0;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    // Revisar esto: Juancho

    .noticia {

        &.grande {
        
        .noticia-imagen {
        position: relative;
        overflow: hidden;
        height: @cuadratin * 12;

            img{
            height: auto;
            }
        }
}

        &.chica {

            img{
            overflow: hidden;
            width: 100%;
        }
    }
}

.texto-noticia {
    
    //background-color: @gris-claro;
    margin: 0;

    h1, h3 {
        margin: 0;
        color: @rojo-claro;
    }

    &.grande {
    padding-top: @cuerpo / 3;
    min-height: @cuadratin * 6;
    background-color: @gris-blanco;
    margin: 0;
    }

}

.contenedor-trio-noticias {
    width: 100%;
    float: left;
    clear: none;
}

.categoria {
    float: left;
    display: inline-block;

    h2 {
        color: @rojo-opuesto;
    }
}

}


// Large screen / wide desktop

@media (min-width: @screen-lg){

    // Contenedor del carousel
    .imagen-carousel {
        height: 659px;
    }

    // Portada noticias

    .contenedor-noticias-recientes {
        min-height: @cuadratin * 25.7;

        .altura-maxima {
        height: @cuadratin * 25.7;
    }
}

    //  Altura máxima de imagen en Carousel
    .altura-maxima {
        overflow: hidden;
        position: absolute;
        bottom: -50%;
        width: 150%;
    }

}