// Variables de altura para diversos bloques (contenedores)

// el valor de alto-xs es la unidad

.alto-xs {
    height: @cuadratin * 3;
    margin: 15px 0;
}

// el valor de alto-sm son 2 unidades + una mitad

.alto-sm {
    height: @cuadratin * 8;
    margin: 15px 0;
}

// el valor de alto-md son 3 unidades

.alto-md {
    height: @cuadratin * 14;
    margin: 15px 0;
}

// el valor de alto-lg son 4 unidades

.alto-lg {
    height: @cuadratin * 20;
    padding: 0;
}

// Clases diferenciales

.pagina {
    padding: 20px;

    //  Tamaños

    &.xs {
        height: @cuadratin * 3;

        img {
            width: @cuadratin * 1.5;
            opacity: .8;
        }
    }

    &.sm {
        height: @cuadratin * 8;
    }

    &.md {
        height: @cuadratin * 14;
    }

    //  Extensiones de clase

    &.evento {

    h6 {
        height: 70px;
        max-height: 75px;
        overflow: hidden;
    }

    p {
        max-height: 110px;
        display: block;
        overflow: hidden;
    }
    }

    &.carrera {
        position: absolute;
        height: 240px;
        right: 15px;
        left: 15px;
        -webkit-transition: max-height .5s linear, opacity 0s linear; 
        -moz-transition: max-height .5s linear, opacity 0s linear; 
        -o-transition: max-height .5s linear, opacity 0s linear;
        bottom: -1px;
        background: linear-gradient(to top, rgba(0, 0, 0, .85), rgba(0,0,0,0));
        padding: 15px;
        overflow: hidden;
        max-height: 120px;

        p {
            max-height: 85px;
            overflow: hidden;
        }
    }

    &.categoria {
        p {
            margin: 7.5px 0;
            max-height: 85px;
            overflow: hidden;
        }
    }

    &.info-docencia {
        border-left:1px solid @gris;
        border-right:1px solid @gris;
    }

    &.noticias-recientes {

        p {
        max-height: 90px;
        display: block;
        overflow: hidden;
        }
    }
}

.referencia-cita {
    width: 250px;  
    float: left;
    margin: 0 @cuadratin;
}

.bloque-enlace {
    background-color: fade(@gris-claro, 25%);
    border:1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    display: inline-block;
    width: 100%;
    max-height: 420px;


    &:hover {
        background-color: fade(@gris-claro, 75%);
        .transition(.3s ease all);

        .carrera {
             bottom: 0;
             max-height: 500px;
        }
        
        // Esto es necesario para que sólo las imágenes de los oficios de la home se oscurezcan al :hover
        &.oficio {
            img {
                opacity: .7;
                -webkit-transition: opacity .5s linear, opacity 0.2s linear; 
                -moz-transition: opacity .5s linear, opacity 0.2s linear; 
                -o-transition: opacity .5s linear, opacity 0.2s linear;
            }
        }
    }
}

.fecha-evento {
    margin: 0 14px 0px 0;
    width: @cuadratin * 2;
    border-left: 5px solid fade(@pizarra-claro, 20%);
    float: left;
    height: 75px;
    padding: 8px 5px 10px;
    border-left: 4px solid fade(@pizarra-claro, 20%);

    .dia {
        font-family: @sans;
        font-weight: 200;
        margin: 0;
        padding: 4px;
        float: center;
        color:@pizarra-claro;
        font-size: @cuerpo * 1.3;
        line-height: 25px;
        letter-spacing: 2px;  
    }
}

.pie-de-foto {
    bottom: 0;
    background-color: @gris-blanco;
    background: url('@{ruta-imagenes}/ruido-gris-blanco.png');
    border-bottom: 1px solid @gris;
    padding: 7.5px 0;
    margin: 0;
    width: 100%;
    position: absolute;
    font-size: @cuerpo-nav * .7;
    font-family: @sans;

    p {
        margin: 0;
        padding: 0;
    }
}

.cita-carousel {
    height: 545px;
    background: linear-gradient(to top, rgba(0, 0, 0, .95), rgba(0,0,0, .35));
    float: right;
    padding: @cuadratin;
    position: relative;

    p {
        font-size: @cuerpo * 1.2;
        font-family: @sans;
        line-height: @interlinea * 1.3;
        color: @blanco;
        max-height: 315px;
        overflow: hidden;
    }

    span {
        position: absolute;
        right: 30px;
        bottom: 10px;
    }

    h4 {
        font-size: @cuerpo * 1.5;
    }

    h1 {
        margin: 0;
    }
}

// Bloques para enlaces hacia el postulante

.enlaces-postulante{
    list-style: none;
    padding: 0;
    margin: 0;

    ul {
        margin: 0 0 @cuadratin-tercio;
        padding: 0 0 @cuadratin @cuadratin;
    }

    li {
        color: @rojo-claro;
        margin: 0 0 @cuadratin / 2 0;
        padding: 7.5px 15px;
        background-color: @blanco;
        border:1px solid #e3e3e3;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        font-weight: 300;
        font-size: @cuerpo;

        &:hover {
            color: @blanco;
            background-color: @rojo-claro;
            .transition(.3s ease all);
        }

        a {
            font-size: @cuerpo * .9;
            font-weight: 300;
            &:hover {
                color: @pizarra-oscuro;
                text-decoration: none;
            }
        }
    }
}

// Footer

footer {
    min-height: @cuadratin * 8;
    backgroud: url('@{ruta-imagenes}/ruido-gris-blanco.png');

    hr {
        margin: 5px 0 5px 0;
    }

    p {
        margin: 0 0 7.5px 0;
        font-size: 13px;
    }
}

.sitios-relacionados {
    i {
        color: @rojo;
        font-size: @cuerpo * 1.5;
        margin-right: 7.5px;
    }
}

.redes-sociales {

    i {
        color: @negro;
        font-size: @cuerpo * 1.5;
        margin-right: 7.5px;
    }

    a {
        &:hover {

            .icn-twitter {
                color: #55ACEE;
            }

            .icn-facebook  {
                color: #4C66A4;
            }

            .icn-vimeo  {
                color: #44BBFF;
            }

            .icn-jekyll {
                color: #FF0084;
            }

            .icn-soundcloud {
                color: #FF7700;
            }
        }
    }
}

.licencia {
    margin: 10px 0 0 0;
    height: @cuadratin * 2;
    background-color: @negro;

    p {
        padding-top: 20px;
        font-family: @sans;
        color: @gris;
        font-size: 11px;
    }
}


// Extra small screen / phone
@media(max-width: @screen-xs-max){

    // Ajuste de página 
    .wrap {
    width: 90%;
    }

    .alto-md {
    height: auto;
    margin: 15px 0;
    }

    .pagina {

        //  Clases extendidas

        &.md {
            height: auto;
        }

        &.noticias-recientes {

            h6 {
                font-size: @cuerpo * 1.35;
            }

            p{
                font-size: @cuerpo;
                line-height: @cuerpo * 1.45;
            }
        }

        &.evento {

            h6 {
                height: 60px;
                font-size: @cuerpo * 1.35;
                line-height: @cuerpo * 1.9;
                max-height: 75px;
                overflow: hidden;
            }

            p {
                max-height: 110px;
                padding: 0 0 0 72px;
                font-size: @cuerpo;
                line-height: @cuerpo * 1.45;
            }

            .fecha-evento {
                .dia {
                    padding: 0px 0px 0px 0px !important;
                    font-size: @cuerpo * 1.3;
                    font-weight: 100;
                }
            }
        }

        &.carrera {
            right: 15px;
            left: 15px;
            bottom: -1px;
            padding: 15px;
            overflow: hidden;
            max-height: 250px;
        }
    }

    .bloque-enlace {

        // Esto es necesario para que sólo las imágenes de los oficios de la home se oscurezcan al :hover
        &.oficio {
            img {
                opacity: .7;
                -webkit-transition: opacity .5s linear, opacity 0.2s linear; 
                -moz-transition: opacity .5s linear, opacity 0.2s linear; 
                -o-transition: opacity .5s linear, opacity 0.2s linear;
            }
        }
        
        &:hover {

            .carrera {
                bottom: 0px;
                max-height: 250px;
            }
        }
    }

    .alto-lg {
        height: 315px;
    }

    .cita-carousel {
        height: 55px;
        padding: @cuadratin / 2;
        position: absolute;
        bottom: 55px;
        width: 100%;

        p,span {
            display: none;
        }

        h1 {
            font-size: @cuerpo * 1.2;
        }
    }

    .pie-de-foto {
    
        p {
            font-size: 10px;
        }
    }
}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

    .alto-lg {
        height: 550px;
    }

    .cita-carousel {
        height: 130px;
        padding: @cuadratin / 2;
        position: absolute;
        bottom: 55px;
        width: 100%;

        p,span {
            display: none;
        }
    }

    // Ajuste de página 
    .wrap {
    width: 90%;
    }

    .pagina {

        //  Clases extendidas

        &.noticias-recientes {

            p {
                max-height: 65px;
                display: block;
                overflow: hidden;
            }
        }


        &.carrera {
            right: 15px;
            left: 15px;
            bottom: -1px;
            padding: 15px;
            overflow: hidden;
            max-height: 250px;
        }
    }

    .bloque-enlace {

        // Esto es necesario para que sólo las imágenes de los oficios de la home se oscurezcan al :hover
        &.oficio {
            img {
                opacity: .7;
                -webkit-transition: opacity .5s linear, opacity 0.2s linear; 
                -moz-transition: opacity .5s linear, opacity 0.2s linear; 
                -o-transition: opacity .5s linear, opacity 0.2s linear;
            }
        }
        
        &:hover {

            .carrera {
                bottom: 0px;
                max-height: 250px;
            }
        }
    }
}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){

    .alto-lg {
        height: 500px;
    }
    
    .cita-carousel {
        height: 425px;
        padding: @cuadratin / 2;
        position: absolute;
        width: 350px;
        right: @cuadratin;

        p {
            max-height: 230px;
        }
    }
    // Ajuste de página 
    .wrap {
    width: 90%;
    }

    .pagina {

        //  Clases extendidas

        &.evento {

            p {
                max-height: 110px;
            }
        
            .fecha-evento {
                .dia {
                    padding: 0px 0px 0px 0px !important;
                }
            }
        }

        &.noticias-recientes {

            p {
                max-height: 62px;
                display: block;
                overflow: hidden;
            }
        }

        &.carrera {
            height: 330px;
            right: 15px;
            left: 15px;
            bottom: -1px;
            padding: 15px;
            overflow: hidden;
            max-height: 160px;

            p {
                max-height: 110px;
                min-height: 40px;
                overflow: hidden;
            }
        }

    }

    .bloque-enlace {
        
        &:hover {

            .carrera {
                bottom: 0px;
                max-height: 410px;
            }
        }
    }
}

// Large screen / wide desktop

@media (min-width: @screen-lg){

    // ajuste de página
    .wrap {
        max-width: 1366px;
    }
}