// Cajas de contenido específico 

// Cajas de docentes

.docente {
    display: inline-block;
    background-color: orange;
    width: 100%;
    min-height: @cuadratin * 5;
}

.imagen-docente {
    margin: 5px;
    width: 30%;
    background-color: pink;
    height: @cuadratin * 6;
    overflow: hidden;
    float: left;

    .ancho-maximo {
        width: 100%;
    }
}

.datos-docente {
    background-color: yellow;
    min-height: @cuadratin * 2;
    display: inline-block;
}


// Extra small screen / phone
@media(max-width: @screen-xs-max){

}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){

}


// Large screen / wide desktop

@media (min-width: @screen-lg){

}
