//------------------------------- IMPORTANTE: ESTE LESS ESTÁ HECHO PARA REUNIR TODAS (O LA MAYORÍAS DE LAS CLASES Y VARIABLES QUE SE EDITEN BAJO LAS MAQUETAS, PARA LUEGO PASARLAS ORDENADAMENTE A PYXIS)
//----- Además se hacen modificaciones en Carousel.less, Navs.less, Dropdowns.less, variables.less, auxiliares.less,


// Clases de Bloques por medida de altura

.menu-rapido-ead {
    min-height: @cuadratin * 1; 
}

.menu-nav-ead {
    min-height: @cuadratin * 2;
    vertical-align: middle;
}

.imagenes-destacadas-ead-lg {
    min-height: @cuadratin * 24;
    //position: relative;
}

.imagenes-destacadas-ead {
    min-height: @cuadratin * 20;
    position: relative;
}

.imagenes-destacadas-ead-xs {
    min-height: @cuadratin * 10;
    position: relative;
}

.imagenes-destacadas-descripcion-ead {
    min-height: @cuadratin * 24;
    bottom: 0;
    background-color: @transparente;
    position: absolute;
}

.imagenes-destacadas-descripcion-ead-sm {
    max-height: @cuadratin * 10;
    position: absolute;
    bottom: 0;
    background-color: @transparente;

}

.imagenes-historia-ead {
    height: @cuadratin * 28;
}

.imagenes-historia-ead-xs {
    height: @cuadratin * 20
}

.parrafo-articulo-ead {
    min-height: @cuadratin * 20;
}

.caja-aside-articulo-ead {
    min-height: @cuadratin * 10
}

.articulo-agenda-ead {
    min-height: @cuadratin * 4;
}

.articulo-agenda-ead-sm {
    min-height: @cuadratin * 6;
}

.caja-noticia-ead {
    min-height: @cuadratin * 9;
    position: relative;
}

.foto-noticia-ead {
    min-height: @cuadratin * 8; 
    overflow: hidden;
}

.texto-noticia-ead {
    min-height: @cuadratin * 8;
}

.articulo-aside-ead {
    min-height: @cuadratin * 2;
}

.footer-ead {
	min-height: @cuadratin * 6;
}

.titulos-ead {
    min-height: @cuadratin * 1.5;
}

.subtitulos-ead {
    min-height: @cuadratin;
}

.imagenes-publicacion-ead {
    min-height: @cuadratin * 18;
}

.caja-perfil-publicacion-ead {
    min-height: @cuadratin * 15;
}

.parrafo-noticia-publicacion-ead {
    min-height: @cuadratin * 20;
}

.caja-aside-publicacion-ead {
    min-height: @cuadratin * 18;
}

.caja-perfil-publicacion-sm-ead {
    min-height: @cuadratin * 6;
}

.imagenes-publicacion-xs-ead {
    min-height: @cuadratin * 10;
}

.navegacion-articulo-ead {
    min-height: @cuadratin * 20;
}

.navegacion-articulo-ead-xs {
    height: @cuadratin * 2;
}

.caja-resultado-ead {
    min-height: @cuadratin * 4;
}

.caja-filtro-ead {
    min-height: @cuadratin * 10;
}

.pag-ead {
    //.container();
    margin: 0 auto;
    width: 100%;
}

.wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.wrap-dropdown {
    max-width: 980px;
    margin: 0 auto;
}

// Tratado de imágenes

.pruebaimagen{
    width: 400px;
}

.anchototal {
    width: 100%;
}

.excedente-vertical {
    width: 200%;
    overflow: hidden;
}

.excedente-horizontal {
    height: 100%;
    overflow: hidden;
}

.fecha-noticia {
    min-height: @cuadratin * 3;
    min-width: @cuadratin * 2;
}

.calendario-agenda-ead {
    min-height: @cuadratin * 10;
}

.caja-articulo-agenda-ead, .caja-noticia-ead {
    min-height: @cuadratin * 8;
    display: inline-block;

    &:hover{
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset -6px -6px 10px @gris-blanco;    

        span {

            &.derecha {
                margin-right: @cuadratin-tercio;
                color: @rojo-claro;
            }
        }
    }

    span {

        &.derecha {
            margin-right: @cuadratin-tercio;
            color: @gris-oscuro;
        }
    }
}

.lista-articulos-agenda-ead {
    min-height: @cuadratin * 20;
}

.caja-noticia-portada-ead {
    min-height: @cuadratin * 10;
}

.caja-comentario-ead {
    min-height: @cuadratin * 4
}

.foto-usuario-comentario-ead {
    height: @cuadratin * 3;
    min-width: @cuadratin * 3;
    max-width: @cuadratin * 3
}

.comentario-ead {
    min-height: @cuadratin * 3
}

.excedente-vertical-xs {
    overflow: hidden;
    width: 180%;
}

.excedente-vertical {
    overflow: hidden;
    width: 150%;
}

.excedente-vertical-lg {
    overflow: hidden;
    width: 120%;
}

.excedente-foto-noticia {
    overflow: hidden;
    position: center;
    width: auto;
    height: 100%;
}

.altura-maxima-lg {
    height: @cuadratin * 24;
}

.altura-maxima {
    height: @cuadratin * 20;
}

.altura-maxima-xs {
    height: @cuadratin * 10;
}


// Estilos especiales

.lista-programa {
    font-size: @cuerpo-nav * .9;
    line-height: @interlinea-nav;
    padding: 0;
    margin: 0;

    &.gruesa {
        font-style: bold;
        padding: 0;
        margin: @cuadratin-tercio 0 0;
    }
}

.busqueda {
    font-family: @sans;
    margin: 0;
    padding: 0;
    font-size: @cuerpo-nav * .9;
    line-height: @cuerpo-nav;
    color: @blanco;
}

.dia-evento {
    font-family: @sans;
    margin: @cuadratin / 1.3 @cuadratin-tercio;
    padding: 0;
    font-size: @cuerpo * 4;
    color: @gris;

    &.md {
        margin: @cuadratin / 1.3 0;
        padding: 0;
        font-size: @cuerpo * 3;
    }
}

.logo-ead {
  font-family: @sans;
  margin: 0;
  padding: 0;
  font-size: @cuerpo-nav * .7;
  line-height: @cuerpo-nav;

  &.altas {
    font-size: @cuerpo-nav * .8;
    line-height: @cuerpo-nav;
  }
  &.footer {
    color: @gris-oscuro;
    font-size: @cuerpo-nav * 1.2;
    line-height: @cuerpo-nav * 1.3;
    text-align: left;
  }

  &.contacto {
    color: @gris;
    font-size: @cuerpo-nav * 1;
    line-height: @cuerpo-nav * 1.2;
  }
}

.logo-ead-marca {
  font-family: @sans;
  margin: 0;
  padding: 0;
  &.xs {
    position: relative;
  }

  &.footer {
    font-size: @cuerpo-nav * 2;
    position: relative;
    text-align: left;
  }
}

.lista-footer {
    color: @gris;
    list-style: none;
    float: left;
    font-size: @cuerpo-nav * .8;
    padding: 0 auto;
    margin: 0 auto;

    a {
        text-decoration: none;
        &:hover {
        color: @blanco;
        cursor: pointer;
        }
    }

    &.chica {
        font-size: @cuerpo-nav * .6;
        padding: @padding-lg 0 0 0;

        a {
            color: @gris-oscuro;

            &:hover{
                color:@blanco;
            }
        }
    }
}

.datos-contacto {

    &.footer {
        color: @blanco;
        padding: 0;
        margin: 0;
    }
}

.sitio-relacionado {
    font-size: @cuerpo-nav / 1.1;
    color: @gris-claro;

    &:hover {
        color: @rojo-claro;
        cursor: pointer;
        text-decoration: none;
        }
}

.enlace-rapido-ead {
  font-family: @sans;
  font-size:@cuerpo-nav *.75;
  line-height: @interlinea * .95;
  font-weight: 300;
  margin: 0;
}

.datos-contacto {
    font-family: @sans;
    font-size: @cuerpo-nav * .9;
    color: @pizarra;
}

.enlaces-aside {
    font-size: @cuerpo-nav * .85;
    list-style: none;
    padding: 0;
    margin: @margen-md 0;

    li:before {
        font-family: 'eadiconos';
        content: '\e618';
        margin:0 @cuadratin-tercio 0 -@cuadratin-tercio * 2;
        color: @rojo-claro;
    }

    li {
        line-height: @interlinea-nav *.9;
        margin-bottom: @cuerpo-nav;

        a {
            &:hover {
                color: @pizarra-oscuro;
                text-decoration: none;
            }
        }
    }
}

// Auxiliares

.contenedor-fondo {
    top: @cuadratin * 2;

}

.bloque {
    display: inline-block;
    position: relative;
}

.borde-izquierdo {
    border-left: 1px solid @gris-oscuro;
}

.borde-derecho {
    border-right: 1px solid @gris-oscuro;
}

.menu-footer {
    padding: 0 @cuadratin-tercio;
    margin: 0;
    font-size: @cuerpo-nav;

    &:hover{
        color: @blanco;
    }
}

.borde-inferior {
    border-bottom: 1px solid @rojo-claro;
}

.caja-fixed {
    background-color: @ahuesado;
    position: relative;
}

.menu-fixed {
    position: absolute;
    top:0; 
    left:0;
}

// Paddings

.relleno-derecho {
    padding-right: @cuadratin * 2;
}

.relleno-izquierdo {
    padding-left: @cuadratin * 2;
}

.relleno-superior {
    padding-left: @cuadratin * 2;
}

.relleno-inferior {
    padding-left: @cuadratin * 2;
}

//Bajar Div
.estampilla {
    bottom: 0;
}