// Clases de Bloques por medida de altura

.menu-rapido-ead {
    min-height: @cuadratin * 1.3; 
}

.menu-nav-ead {
    min-height: @cuadratin * 2;
    vertical-align: middle;
}

.imagenes-destacadas-ead {
    min-height: @cuadratin * 20;
    position: relative;
}

.imagenes-destacadas-ead-xs {
    min-height: @cuadratin * 12;
    position: relative;
}

.imagenes-destacadas-descripcion-ead {
    min-height: @cuadratin * 15
}

.imagenes-destacadas-descripcion-ead-sm {
    max-height: @cuadratin * 8;
    position: absolute;
    bottom: 0;
}

.imagenes-historia-ead {
    height: @cuadratin * 28;
}

.imagenes-historia-ead-xs {
    height: @cuadratin * 20
}

.parrafo-articulo-ead {
    min-height: @cuadratin * 20;
}

.caja-aside-articulo-ead {
    min-height: @cuadratin * 10
}

.articulo-agenda-ead {
    min-height: @cuadratin * 4;
}

.articulo-agenda-ead-sm {
    min-height: @cuadratin * 6;
}

.caja-noticia-ead {
    min-height: @cuadratin * 8;
}

.articulo-aside-ead {
    min-height: @cuadratin * 2;
}

.footer-ead {
	min-height: @cuadratin * 6;
}

.titulos-ead {
    min-height: @cuadratin * 1.5;
}

.subtitulos-ead {
    min-height: @cuadratin;
}

.imagenes-publicacion-ead {
    min-height: @cuadratin * 18;
}

.caja-perfil-publicacion-ead {
    min-height: @cuadratin * 15;
}

.parrafo-noticia-publicacion-ead {
    min-height: @cuadratin * 20;
}

.caja-aside-publicacion-ead {
    min-height: @cuadratin * 18;
}

.caja-perfil-publicacion-sm-ead {
    min-height: @cuadratin * 6;
}

.imagenes-publicacion-xs-ead {
    min-height: @cuadratin * 10;
}

.navegacion-articulo-ead {
    min-height: @cuadratin * 20
}

.navegacion-articulo-ead-xs {
    height: @cuadratin * 2
}

.caja-resultado-ead {
    min-height: @cuadratin * 6
}

.caja-filtro-ead {
    min-height: @cuadratin * 10
}

.pag-ead {
    //.container();
    margin: 0 auto;
    background-color: darken(@blanco, 3%);
    width: 100%;
}

// Tratado de imágenes

.pruebaimagen{
    width: 400px;
}

.anchototal {
    width: 100%;
}

.excedente-vertical {
    width: 200%;
    overflow: hidden;
}

.excedente-horizontal {
    height: 100%;
    overflow: hidden;
}

.fecha-noticia {
    min-height: @cuadratin * 3;
    min-width: @cuadratin * 2;
}

.calendario-agenda-ead {
    min-height: @cuadratin * 10;
    min-width: @cuadratin * 8;
}

.caja-articulo-agenda-ead {
    min-height: @cuadratin * 8;
}

.lista-articulos-agenda-ead {
    min-height: @cuadratin * 20;
}