/*

Estilos Gráficos de la Pantalla de resultados de la Meta-búsqueda

*/

.wrap{

	&.metabusqueda{
		padding: 40px 100px 40px 100px;
		}
	}

.fila{
}

.titularbusquedacf{
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid @gris;
	background-color: @negro;
	}

.logobusqueda{
	display: inline-block;
	margin: 0 auto;
	padding: 0px 20px 0px 0px;
	float: left;

		p.logo-ead-marca {

			&.mediano{
			font-size: 24px;
			font-weight: 200;
			}

		}
	}

.titulobusqueda{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	float: left;

	h2{
		font-size: 24px;
		letter-spacing: .3px;
		float: left;
		padding: 0;
		}

	span.contenido{
		color: @rojo-claro;
		font-weight: 300;
		}

	}












