p {
	font-size: 14px;
}

.cita {
	margin: 0;
	line-height: 25px;
	margin-bottom: 30px;
	//text-align: center;
	font-style: italic;
	font-weight: 200;
	color: @gris-oscuro;
	font-size: @cuerpo;
	display: inline;
}
