p {
	font-size: 14px;
	margin: 12px 0 28.6px;

}

.cita {
	margin: 0;
	line-height: 25px;
	//text-align: center;
	font-weight: 200;
	//color: fade(@gris-claro, 70%);
	color: fade(@pizarra-oscuro, 70);
	font-size: @cuerpo * 0.9;
	display: inline-block;
	width: 984px;
	border-left: 2px solid fade(@gris, 60);
	border-right: 2px solid fade(@gris, 60);
	padding: 0 @cuadratin * 2;
	font-style: italic;
	font-weight: 100;
}

ul li{
    list-style: none;
}

.pyxis {
	font-size: @cuerpo * 1.2;
}


#breadcrumb {
    display: block;
    font-family: @sans;
    font-size: @cuerpo * .8;
    padding: 0;
    font-weight: normal;
    height: 46px;
    letter-spacing: 1px;
    margin: 0 0 2px;
    text-transform: uppercase;

    li {
	    display: inline;
	    float: left;
	    margin: 19px 0 0;
	    padding: 0 30px 0 0;

	    a {
	    	color: @gris-oscuro;
		    display: block;
		    font-weight: 300;
    		height: 12px;

    		&:hover {
    			color: @rojo-claro;
    		}
	    }
    }

    li:after {
		float: right;
		margin: -10px -20px 0 0;
		vertical-align: middle;
		display: inline-block;
		font-family: "Stampa";
		content: "\e601";
		color: @gris-oscuro;
    }

    li:last-child {
    	a {
    		color: @rojo-claro;

    		&:hover {
    			color: @pizarra;
    		}
    	}
    }

    li:last-child:after {
    	font-family: "Stampa";
    	content: none;
    }
}

.entry-details {
    font-family: @sans;
    font-size: 12.3px;
    margin: 0;
    padding: 5px 0 0 0;
    color: @gris-oscuro;

    a {
    	color: @gris-oscuro;
    }
}

.categorias {
    font-family: @sans;
    font-size: @cuerpo * .8;
    color: @gris-oscuro;
    margin: 0;
    padding: 0;

    a {
    	color: @rojo-claro;

    	&:hover {
    		color: @blanco;
    	} 
    }
}

.keywords {
	border-top: 1px solid @gris-claro;
	border-bottom: 1px solid @gris-claro;
	padding:15px;
	text-align: center;

	.palabras {
		font-family: @sans;
    	font-size: 14.8px;
    	color: @gris-oscuro;
    	margin: 0;
    	padding: 0;
	}

    a {
    	color: @rojo-claro;

    	&:hover {
    		color: @pizarra;
    	} 
    }
}

.h-entry {
	width: 100%;

	p {
		margin: 0 auto;
		padding: 0 0 40px 0;
		font-size: @cuerpo;
		line-height: 29px;
	}


	img {
		width: 50%;
		padding-bottom: 30px;

		&.izquierda {
			padding-right: 30px;
		}

		&.derecha {
			padding-left: 30px;
		}
	}
}

.e-content, .p-summary, .p-name {
	width: 75%;
	margin: 30px auto;
}


// Aside 

.publicaciones-enlazadas {
	padding: 0;

    li {
        margin: 15px 0;
        padding: 0 0 0 20px;
        font-size: 14px;
        list-style: none;

         a {
         	font-weight: 300;
         }
    }

	li:before {
		position: absolute;  
		margin: 4px 0 0 -25px;    
		vertical-align: middle;
		display: inline-block;
		font-family: "Stampa";
		content: "\e601";
		color: @gris-oscuro;
	}
}

// Comentarios

.usuario {
	color: @blanco;
    font-size: 20px;
    font-weight: 200;
}

.contacto {
	color: @gris-claro;
	font-size: @cuerpo * .9;
	font-family: @sans;
}

// Extra small screen / phone
@media(max-width: @screen-xs-max){

	.cita {
		font-size: @cuerpo * 0.9;
		width: 100%;
		border-left: none;
		border-right: none;
	}

	#breadcrumb {
	    font-size: @cuerpo * .75;
	    padding: 0;
	    letter-spacing: 0.5px;

	    li {
		    display: none;
	    }

	    li:last-child {
	    	display: inline-block;
	    	a {
	    		color: @rojo-claro;

	    		&:hover {
	    			color: @pizarra;
	    		}
	    	}
	    }

	    li:last-child:before {
			position: absolute;  
			margin: 2px 0 0 -20px;    
			vertical-align: middle;
			display: inline-block;
			font-family: "Stampa";
			content: "\e602";
			color: @gris-oscuro;
	    }
	}

	.h-entry {
		width: 100%;

		img {
			width: 100%;
			padding-bottom: 20px;

			&.izquierda {
				padding-right: 0px;
			}

			&.derecha {
				padding-left: 0px;
			}
		}
	}

	.e-content, .p-summary, .p-name {
		width: 100%;
	}
}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

	.cita {
		font-size: @cuerpo * 0.9;
		padding: 20px 0;
		width: 100%;
		border-left: none;
		border-right: none;
	}

	#breadcrumb {
	    font-size: @cuerpo * .75;
	    padding: 0;
	    letter-spacing: 0.5px;

	    li {
		    display: none;
	    }

	    li:last-child {
	    	display: inline-block;
	    	a {
	    		color: @rojo-claro;

	    		&:hover {
	    			color: @pizarra;
	    		}
	    	}
	    }

	    li:last-child:before {
			position: absolute;  
			margin: 2px 0 0 -20px;    
			vertical-align: middle;
			display: inline-block;
			font-family: "Stampa";
			content: "\e602";
			color: @gris-oscuro;
	    }
	}


	.h-entry {
		width: 100%;

		img {
			width: 100%;
			padding-bottom: 30px;

			&.izquierda {
				padding-right: 0px;
			}

			&.derecha {
				padding-left: 0px;
			}
		}
	}

	.e-content, .p-summary, .p-name {
		width: 100%;
	}


	// Aside 
	.publicaciones-enlazadas {
		padding: 0;

	    li {
	    	border-bottom: 1px solid @gris-claro;
	        margin: 15px 0;
	        padding: 20px 20px 20px 20px;
	        font-size: 14px;
	        list-style: none;

	         a {
	         	font-weight: 300;
	         	font-size: @cuerpo;
	         }
	    }

		li:before {
			position: absolute;  
			margin: 4px 0 0 -25px;    
			vertical-align: middle;
			display: inline-block;
			font-family: "Stampa";
			content: "\e601";
			color: @gris-oscuro;
		}

		li:last-child {
			border-bottom: none;
		}
	}
}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){

	.cita {
		font-size: @cuerpo * 0.9;
		padding: 0 20px;
		width: 70%;
	}

	#breadcrumb {
	    font-size: @cuerpo * .8;
	    letter-spacing: 0.5px;
	}

	.e-content, .p-summary, .p-name {
		width: 90%;
	}

	.h-entry {
		width: 100%;

		img {
			width: 60%;
			padding-bottom: 30px;

			&.izquierda {
				padding-right: 30px;
			}

			&.derecha {
				padding-left: 30px;
			}
		}
	}

	// Aside 

	.publicaciones-enlazadas {

	    li {
	        margin: 13px 0;
	        padding: 0 0 0 20px;
	        font-size: 13px;
	        list-style: none;

	         a {
	         	font-weight: 300;
	         }
	    }
	}
}

// Large screen / wide desktop

@media (min-width: @screen-lg){

}