// TIPOGRAFÍAS GIORNATA

// Tipografías Header 

.logo-ead {
  font-family: @sans;
  color: @negro;
  margin: 0;
  padding: 0;
  font-size: @cuerpo-nav * .7;
  line-height: @cuerpo-nav;

  &.altas {
    font-size: @cuerpo-nav * .8;
    line-height: @cuerpo-nav;
  }
  &.footer {
    color: @gris-oscuro;
    font-size: @cuerpo-nav * 1.2;
    line-height: @cuerpo-nav * 1.3;
    text-align: left;
  }

  &.contacto {
    color: @gris;
    font-size: @cuerpo-nav * 1;
    line-height: @cuerpo-nav * 1.2;
  }
}

.logo-ead-marca {
  font-family: @sans;
  margin: 0;
  padding: 0;

  a, :hover {
    text-decoration: none;
  }
  &.xs {
    position: relative;
  }

  &.footer {
    font-size: @cuerpo-nav * 2;
    position: relative;
    text-align: left;
  }
}

// Tipografías carousel

// Descripción del carousel

.pie-de-foto {
    height: @cuadratin;
    bottom: 0;
    background-color: @pizarra-oscuro;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: @cuerpo-nav * .7;
    font-family: @sans;

    p {
        margin: 0;
        padding: 0;
    }
}

// Tipografías contenido 

.nombre-categoria {
    margin:0 0 @cuadratin / 1.8 0;
}

.breadcrumbs {
    font-family: @tipografia-referencias;
    font-size: @cuerpo-nav * .85;

    &.fondo-oscuro {
        a {
            color: @blanco;

            &:hover {
                color: @rojo-claro;
            }
        }
    }
}

.bloque-enlace {
    display: inline-block;
    background-color: @blanco;
    margin: 0;
    padding: 0; 
    border:1px solid @gris-blanco;

    &:hover {
        background-color: @gris-blanco;
        border:1px solid @gris-claro;
        .transition(.3s ease all);
    }

    &.sm {
        height: @cuadratin * 14.25;
    }
}

.titulo-prev {
    h6 {
        font-size: @cuerpo * 1.1;
    }
}

.prev-texto {
    font-size: @cuerpo-nav * .8;
    line-height: @interlinea-nav * .8;
    margin: 0;
    padding-bottom: 0;

    span {
        padding: 0;
        margin: 0;
    }

    .xs {
        margin:0;
        padding: 0;
    }

    &.md {
        margin: @cuadratin 0;
        padding: 0;
        font-size: @cuerpo-nav * .9;
        line-height: @interlinea-nav;
    }

    &.sm {
        margin:0;
        padding: 0;
        font-size: @cuerpo * .8;
        line-height: @interlinea * .9;
    }
}

.truncado {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
    white-space: nowrap;
    width: 40px;
}


.datos-publicacion {
    font-family: @sans;
    font-size: @cuerpo-nav / 1.3;
    margin: 0;
    padding: 0;
}

.categorias-publicacion {
    font-family: @sans;
    font-size: @cuerpo-nav * .8;
    color: @gris-oscuro;
    margin: 0;
    padding: 0;
}

.fecha-evento {
    padding: @cuadratin * .25 @cuadratin * .5;
    color: @blanco;
    float: left;
    height: @cuadratin * 2.5;
    width: @cuadratin * 2.5;
    margin: 0 @cuadratin * .5 0 0;
    background-color: @gris-claro;

    &.xs {
        font-size: @cuerpo-nav * 7;
        margin-top: @margen-lg * 2;
    }

    &.lg {
        padding: 0;
        margin: @margen-lg * 2.5 @margen-lg 0 0;
        font-size: @cuerpo-nav * 9.5;
        letter-spacing: -@cuadratin-tercio;
    }

    .mes{
        color:@blanco;
        font-family: @sans;
        padding: 0;
        margin: @cuadratin * .25 0 0 @cuadratin * .25;
        letter-spacing: 0;
        font-size: @cuerpo-nav * 1.5;
    }

    .dia {
        font-family: @sans;
        margin: 0 0 0 @cuadratin * .25;
        padding: 0;
        float: center;
        color:@blanco;
        font-size: @cuerpo-nav * 2.5;    
        line-height: @cuerpo-nav * 2;
        letter-spacing: 0;
        }
}

h1,h2,h3,h4,h5,h6 {

    &.nombre-seccion {
        margin: 0 0 @cuadratin / 2 0;
    }
}

// Estilos de párrafo especiales (ESTOS ESTILOS SON DE LAS MAQUETAS PREVIAS, HAY QUE VER SI AÚN SE MANTIENEN O SE EDITAN)

h1 {
      &.titulo-articulo {
    font-family: @sans;
    font-weight: 200;
    font-size: 3vmax;      
    line-height: @cuerpo * 2.6;
    margin: 0;
    padding: 0;

    span {
      margin: 0;
      padding: 0;
    }
    
    }
}

h2 {

    &.subtitulo-articulo {
    font-family: @sans;
    font-size: 2vmax;
    line-height: @cuerpo-nav * 3;
    margin: 0;
    padding: 0;
    }
}

.mes-evento {
  font-family: @sans;
  padding: 0;
  margin: @margen-lg * 2.6 @margen-lg 0 0;
  font-size: @cuerpo-nav * 1.5;
  color: @rojo-claro;
  letter-spacing: @cuerpo * 2.2;

  &.xs {
    letter-spacing: @cuerpo-nav * 1.3;
  }
}


.lista-programa {
    font-size: @cuerpo-nav * .9;
    line-height: @interlinea-nav;
    padding: 0;
    margin: 0;

    &.gruesa {
        font-style: bold;
        padding: 0;
        margin: @cuadratin-tercio 0 0;
    }
}

.busqueda {
    font-family: @sans;
    margin: 0;
    padding: 0;
    font-size: @cuerpo-nav * .9;
    line-height: @cuerpo-nav;
    color: @blanco;
}

.dia-evento {
    font-family: @sans;
    margin: @cuadratin / 1.3 @cuadratin-tercio;
    padding: 0;
    font-size: @cuerpo * 4;
    color: @gris;

    &.md {
        margin: @cuadratin / 1.3 0;
        padding: 0;
        font-size: @cuerpo * 3;
    }
}

.lista-footer {
    color: @gris;
    list-style: none;
    float: left;
    font-size: @cuerpo-nav * .8;
    padding: 0 auto;
    margin: 0 auto;

    a {
        text-decoration: none;
        &:hover {
        color: @blanco;
        cursor: pointer;
        }
    }

    &.chica {
        font-size: @cuerpo-nav * .6;
        padding: @padding-lg 0 0 0;

        a {
            color: @gris-oscuro;

            &:hover{
                color:@blanco;
            }
        }
    }
}

.datos-contacto {

    &.footer {
        color: @blanco;
        padding: 0;
        margin: 0;
    }
}

.sitio-relacionado {
    font-size: @cuerpo-nav / 1.1;
    list-style: none;
    text-decoration: none;

    ul, li {
        float: left;
        margin: 0;
        padding: 0;
    }

    a {
        color: @blanco;
        &:hover {
            color: @rojo-claro;
            cursor: pointer;
            text-decoration: none;
            float: left;
            padding: 0;
            margin: 0;
            }
    }
}

.enlace-rapido-ead {
    font-family: @sans;
    font-size:@cuerpo-nav *.75;
    line-height: @interlinea * .95;
    font-weight: 300;
    margin-top: @cuadratin-tercio / 4;
    position: relative;
    display: block;
}

.datos-contacto {
    font-family: @sans;
    font-size: @cuerpo-nav * .9;
    color: @pizarra;
}

// Extra small screen / phone
@media(max-width: @screen-xs-max){

    .imagenes-destacadas-descripcion-ead {
        background-color: @transparente;
        min-height: @cuadratin * 4;
        position: absolute;
        bottom: @cuadratin;
        p {
            font-size: @cuerpo * .8;
            line-height: @interlinea * .9;
            color: @blanco;
        }
        h4 {
            font-size: @cuerpo;
        }
    }

    .caja-publicacion-prev {
        margin: @cuadratin 0;
        border-bottom: 1px solid @gris-blanco;

        .prev-texto {
            font-size: @cuerpo-nav;
            line-height: @interlinea-nav;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .titulo-prev {
        h6 {
            font-size: @cuerpo * 1.5;
        }
    }
}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

    .imagenes-destacadas-descripcion-ead {
        background-color: @transparente;
        position: absolute;
        min-height: @cuadratin * 8;
        bottom: @cuadratin;
        p {
            font-size: @cuerpo * .8;
            line-height: @interlinea;
            color: @blanco;
        }
        h4 {
            font-size: @cuerpo * 1.4;
        }
    }

    .logo-ead {
        margin: 0 0 0 @cuadratin-tercio * .5;
    }

    .caja-publicacion-prev {

        .prev-texto {
            font-size: @cuerpo-nav * .7;
            line-height: @interlinea-nav * .7;
            margin-bottom: 0;
            padding-bottom: 0;
        }  
    }

    .titulo-prev {
        h6 {
            font-size: @cuerpo * .95;
        }
    }
}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){


    .imagenes-destacadas-descripcion-ead {
        background-color: @transparente;
        min-height: @cuadratin * 4;
        position: absolute;
        bottom: @cuadratin;
        p {
            font-size: @cuerpo * 1;
            line-height: @interlinea;
            color: @blanco;
        }
        h4 {
            font-size: @cuerpo * 1.8;
        }
    }

    // Tipografías
    .caja-publicacion-prev {

        .prev-texto{
            font-size: @cuerpo-nav * .75;
            line-height: @interlinea-nav * .75;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .titulo-prev {

        &.xs {
            width: 65%;
            float: left;
            h6 {
                font-size: @cuerpo * .95;
            }
        }
    }

    .fecha-evento {
        padding: @cuadratin * .2 @cuadratin * .25;
        float: left;
        height: @cuadratin * 2;
        width: 35%;
        margin: @cuadratin *.25 0;

        .mes{
            padding: 0;
            margin: 0 auto;
            letter-spacing: 0;
            font-size: @cuerpo-nav * 1.5;
        }

        .dia {
            margin: 0 0 0 @cuadratin * .25;
            padding: 0;
            float: center;
            font-size: @cuerpo-nav * 2;    
            line-height: @cuerpo-nav * 1.25;
            letter-spacing: 0;
        }
    }
}

// Large screen / wide desktop

@media (min-width: @screen-lg){


    .imagenes-destacadas-descripcion-ead {
        height: @cuadratin * 21.7;
        top: 0;
        background-color: @transparente;
        position: relative;
        float: right;
        min-width: @cuadratin * 12;
        padding: @cuadratin;

        p {
            font-size: @cuerpo * 1.3;
            line-height: @interlinea * 1.3;
            color: @blanco;
        }

        h4 {
            font-size: @cuerpo * 1.5;
        }
    }
}