h2 {
	margin: 10px 0 5px 0;
}

h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.seccion {
		border-bottom: 1px solid fade(@gris, 50);
		text-align: center;
		position: relative;
		margin: @cuadratin 0;
	
	h3{
		color: @gris;
		font-size: 14px;
		letter-spacing: 4px;
		text-transform: uppercase;
		background-color: @blanco;
		position: relative;
		top: 13px;
		padding: 0 20px;
		display: inline-block;

		i{
			font-size: 14px;
		}
	}
}