<div class='col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-2 col-sm-14 col-sm-offset-5 col-xs-18 col-xs-offset-3'><!-- aside -->
  <div class='fila'> <!-- agenda -->
        <h5 class='rojo-claro fino centrado'>Más artículos de agenda</h5>
      <div class='col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 margen-superior-xs'>
        <ul class='enlace-aside'>
          <li><a href='#'>Misa en memoria de Francisco Vásquez Valdovinos (Q.E.P.D)</a></li>
          <li><a href='#'>Retiro de agendas 2014.</a></li>
          <li><a href='#'>Planificación cursos de Matemáticas Escuela de Arquitectura y Diseño.</a></li>
          <li><a href='#'>Inicio de clases cursos superiores – Primer Trimestre 2014</a></li>
        </ul>
      </div>
  </div>

  <div class='fila margen-superior'> <!-- info de docencia -->
        <h5 class='rojo-claro fino centrado'>Más artículos de Información de Docencia</h5>
     <div class='col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 margen-superior-xs'>
        <ul class='enlace-aside'>
          <li><a href='#'>Asignación Profesores Título 1 – Primer Trimestre 2014</a></li>
          <li><a href='#'>Al término del 3º trimestre 2013, se recuerda a los alumnos lo siguiente:</a></li>
          <li><a href='#'>Asignación de Profesores para Título 1</a></li>
          <li><a href='#'>Para finalizar el 2º trim. correctamente e iniciar el 3º trim. 2013, recuerda:</a></li>
        </ul>
      </div>
  </div>

  <div class='fila margen-superior'> <!-- Redes sociales -->
        <h5 class='rojo-claro fino centrado'>Redes sociales e[ad]</h5>
      <div class='col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 margen-superior-xs'>
        twitts de la escuela
      </div>
    <div class='col-lg-24 margen-superior'>
        <h5 class='rojo-claro fino centrado'>Comparte [ + ]</h5>
      <div class='col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 margen-superior-xs'>
        Íconos, Twitter, facebook, etc
      </div>
    </div>
  </div>

</div> <!-- fin col aside -->