<div class='fila'> <!-- Inicio Menu Navegación -->
 <div class='col-lg-24 oculto-xs fondo-negro'>
   <div class='wrap'>
     <div class='fila'>
        <div class='col-lg-1 col-md-1 col-sm-2'>
          <a href='{{ site.baseurl }}/pags/home'><p class='logo-ead-marca rojo-claro grande'>e[ad]</p></a>
        </div>
        <div class='col-lg-6 col-md-7 col-sm-8 oculto-xs'>
          <p class='logo-ead altas'>Escuela de Arquitectura y Diseño</p>
          <p class='logo-ead'>Pontificia Universidad Católica de Valparaíso</p>
        </div>
       <div class='col-lg-3 col-lg-offset-11 col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-2 '> <!-- Usuario -->
         <ul class="nav user nav-pills">
           <li class="dropdown">
             <a href="#" data-toggle="dropdown" role="button" id="primer-dropdown" class="dropdown-toggle">Usuario  <span class="ico-perfil ico-sm"></span><b class="caret"></b></a>
             <ul aria-labelledby="drop4" role="menu" class="dropdown-menu user" id="menu1">
               <li role="presentation"><a href="http://wiki.ead.pucv.cl/index.php/Casiopea" tabindex="-1" role="menuitem">Casiopea</a></li>
               <li role="presentation"><a href="http://travesias.ead.pucv.cl/" tabindex="-1" role="menuitem">Archivo Histórico JVA</a></li>
               <li role="presentation"><a href="http://biblioteca.ucv.cl/" tabindex="-1" role="menuitem">Biblioteca</a></li>
               <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Travesías</a></li>
               <li class="divider" role="presentation"></li>
               <li role="presentation"><a href="http://personas.ead.pucv.cl/" tabindex="-1" role="menuitem">Editar tu perfil <span class="blanco ico-lapiz ico-sm"></span></a></li>
             </ul>
           </li>
         </ul>
       </div> <!-- fin usuario -->
      <div class='col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-0'> <!-- Búsqueda -->
         <ul class="nav busqueda nav-pills">
           <li class="dropdown">
             <a href="#" data-toggle="dropdown" role="button" id="primer-dropdown" class="dropdown-toggle">Buscar <span class="blanco ico-lupa ico-sm"></span><b class="caret"></b></a>
             <ul aria-labelledby="drop4" role="menu" class="dropdown-menu busqueda" id="menu1">
               <li role="presentation"><input type='search' placeholder='búsqueda'/><input type='submit' class='btn btn-busqueda derecha' value='ir' /></li>
             </ul>
           </li>
         </ul>
       </div> <!-- fin búsqueda -->
     </div> <!-- fin fila -->
   </div> <!-- fin wrap -->
 </div> <!-- fin col24 negro -->
</div> <!-- Fin Menú navegación -->