     <div class='fila'> <!-- Inicio Menu Navegación -->
       <div class='col-lg-24 oculto-xs fondo-negro menu-rapido-ead'>
         <div class='wrap'>
           <div class='fila'>
             <div class='col-lg-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1'>
               <a href='{{ site.baseurl }}/pags/home'><p class='logo-ead-marca rojo-claro grande'>e[ad]</p></a>
             </div>
             <div class='col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-6 col-sm-1 col-sm-offset-4 col-xs-1 col-xs-offset-4 margen-superior-xs'>
               <a href='{{ site.baseurl }}/pags/portada-noticias'><p class='blanco enlace-rapido-ead'>Noticias</p></a>
             </div> 
             <div class='col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 col-xs-1 col-xs-offset-3 margen-superior-xs'>
               <a href='{{ site.baseurl }}/pags/portada-agenda'><p class='blanco enlace-rapido-ead'>Agenda</p></a>
             </div>
             <div class='col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0 oculto-xs margen-superior-xs'>
               <a href='http://www.ead.pucv.cl/estudiantes/bolsa-de-trabajo/'><p class='blanco enlace-rapido-ead'>Bolsa de trabajo</p></a>
             </div>
             <div class='col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-1 col-sm-offset-0 oculto-xs margen-superior-xs'>
               <a href='http://www.ead.pucv.cl/estudiantes/'><p class='blanco enlace-rapido-ead'>"Estudiantes"</p></a>
             </div>
             <div class='col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-4 col-xs-7 col-xs-offset-5'> <!-- Usuario -->
               <ul class="nav user nav-pills">
                 <li class="dropdown">
                   <a href="#" data-toggle="dropdown" role="button" id="primer-dropdown" class="dropdown-toggle">Usuario  <span class="ico-perfil ico-sm"></span><b class="caret"></b></a>
                   <ul aria-labelledby="drop4" role="menu" class="dropdown-menu user" id="menu1">
                     <li role="presentation"><a href="http://wiki.ead.pucv.cl/index.php/Casiopea" tabindex="-1" role="menuitem">Casiopea</a></li>
                     <li role="presentation"><a href="http://travesias.ead.pucv.cl/" tabindex="-1" role="menuitem">Archivo Histórico JVA</a></li>
                     <li role="presentation"><a href="http://biblioteca.ucv.cl/" tabindex="-1" role="menuitem">Biblioteca</a></li>
                     <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Travesías</a></li>
                     <li class="divider" role="presentation"></li>
                     <li role="presentation"><a href="http://personas.ead.pucv.cl/" tabindex="-1" role="menuitem">Editar tu perfil <span class="blanco ico-lapiz ico-sm"></span></a></li>
                   </ul>
                 </li>
               </ul>
             </div> <!-- fin usuario -->
            <div class='col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-7 col-xs-offset-5'> <!-- Búsqueda -->
               <ul class="nav busqueda nav-pills">
                 <li class="dropdown">
                   <a href="#" data-toggle="dropdown" role="button" id="primer-dropdown" class="dropdown-toggle">buscar <span class="blanco ico-lupa ico-sm"></span><b class="caret"></b></a>
                   <ul aria-labelledby="drop4" role="menu" class="dropdown-menu busqueda" id="menu1">
                     <li role="presentation"><input type='search' placeholder='búsqueda'/><input type='submit' class='btn btn-busqueda derecha' value='ir' /></li>
                   </ul>
                 </li>
               </ul>
             </div> <!-- fin búsqueda -->
           </div> <!-- fin fila -->
         </div> <!-- fin wrap -->
       </div> <!-- fin col24 negro -->
     </div> <!-- Fin Menú navegación -->