<div class='fila'>
  <div class='col-lg-10 col-lg-offset-6 col-md-11 col-md-offset-4 col-sm-18 col-sm-offset-3 col-xs-20 col-xs-offset-2'><h5 class='altas damasco'>Comentarios de esta noticia</h5><!--contenedor de comentarios-->
    <div class='fila margen-superior-s margen-inferior-s fondo-gris-claro'> <!-- comentario 1 -->
      <div class='col-md-22 col-md-offset-1 col-sm-24 col-xs-24 caja-comentario-ead'>
        <div class='col-md-5 col-md-offset-0 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 margen-superior-s'><!-- foto usuario y nombre de usuario-->
          <div class='col-md-22 col-md-offset-1 col-sm-24 col-sm-offset-0 oculto-xs fondo-blanco margen-inferior-s foto-usuario-comentario-ead'></div>
          <div class='col-md-24 col-sm-22 col-sm-offset-1 col-xs-24'>username 1</div>
        </div>
        <div class='col-md-17 col-md-offset-1 col-sm-16 col-sm-offset-1 col-xs-22 col-xs-offset-1 fondo-blanco margen-superior-s'><!-- datos de comentario -->
          datos de publicación (Fecha)
        </div>
        <div class='col-md-17 col-md-offset-1 col-sm-16 col-sm-offset-1 col-xs-22 col-xs-offset-1 comentario-ead fondo-blanco margen-superior-s margen-inferior-s'><!-- comentario -->
          Comentario
        </div>
      </div>
    </div> <!-- fin comentario 1 -->
  </div> <!-- final contenedor de comentarios -->
</div> <!-- final fila comentarios-->
<div class='fila'>
  <div class='fila margen-superior'> <!-- Hacer un comentario -->
    <div class='col-lg-10 col-lg-offset-6 col-md-11 col-md-offset-4 col-sm-18 col-sm-offset-3 col-xs-20 col-xs-offset-2 ver'>
      <div class='col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 col-xs-22 col-xs-offset-1'>    <!-- Formulario Vertical Pequeño -->
        <form class='sm'>
          <legend>Deja un comentario en esta noticia</legend>    
          <div class='col-md-24 margen-inferior-s'>
            Estás registrado como: (nombre de usuario)
          </div>
          <div class='grupo'>
            <label>Mensaje</label>
            <textarea></textarea>
          </div>
          <input type='submit' class='btn btn-sm derecha' value='Enviar'>
        </form>
      </div>
    </div>
  </div>
</div> <!-- final hacer un comentario -->