<footer>
<div class='col-lg-12'>
<div class='alto-sm fondo-ruido'>
    <div class='wrap'>
        <div class='fila'>
            <div class='col-lg-4'>
        <p class='escuela pizarra'><a href='#'>e[ad]
Escuela de Arquitectura y Diseño</a>
<br>Pontificia Universidad Católica de Valparaíso ∫</p>

        <p class='direccion pizarra'>
<a href='#'><i class='icn icn-email icn-md'></i>Contacto</a><br> Matta 12, Recreo, Viña del Mar, Chile.
<br>Cód. Postal: 2580129, Casilla 4170 V2 Valparaíso</p>

        <p class='licencia pizarra'>e[ad]
1998 - 2014 e[ad] <br> | <a>Suscripción (RSS)</a> | <a>Cómo Suscribirse</a> | <a>Diseñado por TIG</a> | <a>Colofón</a> | <br>Optimizado para <a>Firefox</a>
e[ad] de la Escuela de Arquitectura y Diseño PUCV está <br> licenciado bajo <a>Creative Commons Atribución-No Comercial-Licenciar Igual 2.0 Chile License</a>.</p>
            </div>

            <div class='col-lg-4'>
        <p class='gris'>sitios relacionados
        </p>
            </div>
            <div class='col-lg-4'>
        <div class='redes-sociales gris'>
            <p class='gris'>redes sociales</p>
<span class="icn-stack">      
<i class="icn icn-twitter icn-lg icn-stack-1x icn-inverse"></i> </span>
<span class="icn-stack">
<i class="icn icn-facebook icn-lg icn-stack-1x icn-inverse"></i> </span>
<span class="icn-stack">
<i class="icn icn-flickr icn-lg icn-stack-1x icn-inverse"></i> </span>
<span class="icn-stack">
<i class="icn icn-vimeo icn-lg icn-stack-1x icn-inverse"></i> </span>
<span class="icn-stack">
<i class="icn icn-soundcloud icn-lg icn-stack-1x icn-inverse"></i> </span>
        </div>
            </div>
        </div>
    </div>
</div>
</div>
</footer>

<script>
    smoothScroll.init();
</script>
<script type='text/javascript'>
function createEllipsis ( truncadoId ) {
    $truncado = $("#" + truncadoId);
    var truncadoHeight = $truncado.height();
    var $text = $truncado.find("p");
 
    while ( $text.outerHeight() > truncadoHeight ) {
        $text.text(function (index, text) {
            return text.replace(/\W*\s(\S)*$/, '...');
        });
    }
  }
</script>

<script type='text/javascript'>
function createEllipsis ( truncadomdId ) {
    $truncadomd = $("#" + truncadomdId);
    var truncadoHeight = $truncadomd.height();
    var $text = $truncadomd.find("p");
 
    while ( $text.outerHeight() > truncadomdHeight ) {
        $text.text(function (index, text) {
            return text.replace(/\W*\s(\S)*$/, '...');
        });
    }
  }
</script>