<div class='fila fondo-negro'> <!-- inicio footer -->
  <div class='col-24-lg col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1'>
    <div class='wrap centrado'>
      <div class='fila'>
        <div class='col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-0 col-xs-10 col-xs-offset-1'>
          <div class='fila margen-superior-s margen-inferior-s'>
             <div class='col-lg-24 col-lg-offset-0'>
              <p class='logo-ead-marca footer rojo-claro grande'>e[ad]</p>
              <p class='logo-ead footer altas'>Escuela de Arquitectura y Diseño</p>
              <p class='logo-ead footer margen'>Pontificia Universidad Católica</p>
            </div>
          </div>
        </div>
        <div class='col-lg-10 col-lg-offset-0 col-md-11 col-md-offset-0 col-sm-14 oculto-xs contenedor-fondo'>
          <div class='finalizar'>
            <div class='col-lg-24 col-lg-offset-0 col-md-24 col-md-offset-0'>
             <a class='menu-footer borde-derecho' href='#'>Escuela</a>
             <a class='menu-footer borde-derecho' href='#'>Carreras y Posgrados</a>
             <a class='menu-footer borde-derecho' href='#'>Admisión</a>
             <a class='menu-footer borde-derecho' href='#'>Estudiantes</a>
             <a class='menu-footer borde-derecho' href='#'>Extensión</a>
             <a class='menu-footer' href='#'>Amereida</a>
            </div>
          </div>
        </div>
        <div class='oculto-lg oculto-md oculto-sm col-xs-22 col-xs-offset-1'>
          <div class='finalizar'>
            <div class='col-lg-22 col-lg-offset-1 col-md-24 col-md-offset-0 col-xs-20 col-xs-offset-2 ver'>
             <a class='menu-footer borde-derecho' href='#'>Noticias</a>
             <a class='menu-footer borde-derecho' href='#'>Calendario</a>
             <a class='menu-footer borde-derecho' href='#'>Bolsa de trabajo</a>
             <a class='menu-footer' href='#'>Estudiantes</a>
            </div>
          </div>
        </div>
        <div class='col-lg-7 oculto-md oculto-sm oculto-xs contenedor-fondo'>
          <div class='fila '>
            <div class='col-lg-22 col-lg-offset-1'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/fb.png'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/twitter.png'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/vimeo.png'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/soundscloud.png'>
            </div>
          </div>
        </div>
      </div> <!-- fin fila superior -->
      <div class='fila'>
        <div class='col-lg-6 col-md-8 col-sm-10 col-sm-offset-0 col-xs-22 col-xs-offset-1 margen-inferior'>
          <div class='fila'>
            <div class='col-lg-17 col-lg-offset-4 '>
              <p class='logo-ead contacto footer'>Matta 12, Recreo, Viña del Mar, Chile. Cód. Postal: 2580129, Casilla 4170 V2 Valparaíso</p>
              <p class='logo-ead contacto footer'>Teléfono +56 32 2274401</p>
              <p class='logo-ead contacto footer'>Fax +56 32 2274421</p>
            </div>
          </div>
        </div>
        <div class='col-lg-10 col-lg-offset-0 col-md-11 col-sm-14 col-sm-offset-0 col-xs-22 col-xs-offset-1 borde-izquierdo borde-derecho'>
          <div class='fila'>
            <div class='col-lg-14 col-lg-offset-5 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1'>
              <p class='lista-footer'><a>1998 - 2014 e[ad] </a><a>| Suscripción (RSS) </a><a>| Cómo Suscribirse </a><a>| Diseñado por TIG </a><a>| Colofón </a><a>| Optimizado para Firefox</a></p>
              <p class='lista-footer chica'><a>e[ad] de la Escuela de Arquitectura y Diseño PUCV está licenciado bajo Creative Commons Atribución No Comercial Licenciar Igual 2.0 Chile License.</a></p>
              <img src='http://i.creativecommons.org/l/by-nc-sa/2.0/cl/80x15.png'>
            </div>
          </div>
        </div>
        <div class='oculto-lg col-md-offset-0 col-md-5 oculto-sm oculto-xs margen-inferior-s'>
          <div class='fila'>
            <div class='col-lg-24 col-lg-offset-0 col-md-22 col-md-offset-1'>
              <p class='datos-contacto footer'>Sitios relacionados</p>
              <a class='sitio-relacionado' href='#'>[ Wiki Casiopea ]</a>
              <a class='sitio-relacionado' href='#'>[ Archivo Histórico José Vial Armstrong ]</a>
              <a class='sitio-relacionado' href='#'>[ Biblioteca ]</a>
              <a class='sitio-relacionado' href='#'>[ Travesías ]</a>
              <a class='sitio-relacionado' href='#'>[ Pyxis Framework ]</a>
            </div>
          </div>
        </div>
        <div class='oculto-lg oculto-md col-sm-10 col-sm-offset-0 col-xs-22 col-xs-offset-1'>
          <div class='fila'>
            <div class='col-lg-22 col-lg-offset-1'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/fb.png'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/twitter.png'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/vimeo.png'>
              <img src='{{ site.baseurl }}/img/iconos-sociales/soundscloud.png'>
            </div>
          </div>
        </div>
        <div class='col-lg-5 col-lg-offset-1 oculto-md col-sm-14 col-sm-offset-10 col-xs-22 col-xs-offset-1 margen-inferior-s'>
          <div class='fila'>
            <div class='col-lg-24 col-lg-offset-0 col-md-22 col-md-offset-1'>
              <p class='datos-contacto footer'>Sitios relacionados</p>
              <a class='sitio-relacionado' href='#'>[ Wiki Casiopea ]</a>
              <a class='sitio-relacionado' href='#'>[ Archivo Histórico José Vial Armstrong ]</a>
              <a class='sitio-relacionado' href='#'>[ Biblioteca ]</a>
              <a class='sitio-relacionado' href='#'>[ Travesías ]</a>
              <a class='sitio-relacionado' href='#'>[ Pyxis Framework ]</a>
            </div>
          </div>
        </div>
      </div> <!-- fin fila inferior -->
    </div> <!-- fin wrap -->
  </div> <!-- fin col24 -->
</div> <!-- fin fila footer --> 
<script>
    smoothScroll.init();
</script>