<div class='fila fondo-negro'> <!-- inicio footer -->
</div> <!-- fin fila footer --> 
<script>
    smoothScroll.init();
</script>
<script type='text/javascript'>
function createEllipsis ( truncadoId ) {
    $truncado = $("#" + truncadoId);
    var truncadoHeight = $truncado.height();
    var $text = $truncado.find("p");
 
    while ( $text.outerHeight() > truncadoHeight ) {
        $text.text(function (index, text) {
            return text.replace(/\W*\s(\S)*$/, '...');
        });
    }
  }
</script>

<script type='text/javascript'>
function createEllipsis ( truncadomdId ) {
    $truncadomd = $("#" + truncadomdId);
    var truncadoHeight = $truncadomd.height();
    var $text = $truncadomd.find("p");
 
    while ( $text.outerHeight() > truncadomdHeight ) {
        $text.text(function (index, text) {
            return text.replace(/\W*\s(\S)*$/, '...');
        });
    }
  }
</script>