

<div class='col-lg-12'>
        <div class='wrap'>
          <div class='fila margen-superior-s'>

            <div class='marca-jva margen-inferior'> 
              <p class='cuadro-logo margen-logo'>[ + ]]]</p>
            </div>
              
            <div class='marca-jva margen-superior-s margen-cuadros'>
              <a href='home-archivo.html'><p class='logo-archivo'>Archivo Histórico José Vial Armstrong</p></a>
              <span class='marca-menor'>Escuela de Arquitectura y Diseño e[ad]</span>
            </div>   
            <div class='nave-jva'>
              <ul class="nav nav-pills margen-superior-s">
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" role="button" id="primer-dropdown" class="dropdown-toggle">Sobre el Archivo 
                  <b class="caret"></b></a>
                  <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                    <li role="presentation"><a href="/pags/historia" role="menuitem">Nuestra labor</a></li>
                    <li role="presentation"><a href="#" role="menuitem">Historia</a></li>
                    <li role="presentation"><a href="#" role="menuitem">Dependencias Archivo</a></li>
                    <li class="divider" role="presentation"></li>
                    <li role="presentation"><a href="#" role="menuitem">Noticias del archivo</a></li>
                  </ul>
                </li>
              </ul>
                
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Catálogos<b class="caret"></b></a>
                  <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                    <li role="presentation"><a href="#" role="menuitem">Colección Fotográfica</a></li>
                    <li role="presentation"><a href="/pags/articulo-carrera-grafico" role="menuitem">Colección Audiovisual</a></li>
                    <li role="presentation"><a href="#" role="menuitem">Archivo de la Palabra</a></li>
                  </ul>
                </li>
              </ul>
                
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Ediciones del archivo<b class="caret"></b></a>
                  <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                    <li role="presentation"><a href="#" role="menuitem">Biblioteca Constel</a></li>
                    <li role="presentation"><a href="#" role="menuitem">Ediciones e[ad]</a></li>
                  </ul>
                </li>
              </ul>
                
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Solicitudes<b class="caret"></b></a>
                </li>
              </ul>
           
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Contacto<b class="caret"></b></a>
                </li>
              </ul>      
            </div> 
          </div> <!-- fin fila -->
        </div> <!-- fin wrap -->
      </div><!-- fin col-lg-12 -->
