<!DOCTYPE html>
<html>
	{% include head.html %}
	<body lang='ES_es' class='fondo-gris-claro'>

		<div class='fila landing margen-inferior'>
  			<div class='col-lg-24 fondo-pizarra'>
    			<h1 class='blanco centrado'>Giornata</h1>
    			<p class='centrado grande blanco'>Maquetas navegables para el sitio ead.pucv.cl</p>
    			<p class='centrado chico gris-claro'>Este repositorio está en <a href='https://github.com/eadpucv/giornata.git'>GitHub</a> y depende de <a href='http://eadpucv.github.io/pyxis/'>Pyxis Framework</a> & <a href='http://eadpucv.github.io/stampa/'>Stampa</a></p>
  			</div>
		</div>

	    <div class='pag'>
	        {{ content }}
	    </div>
	</body>
</html>