<!DOCTYPE html>
<html>
	{% include head.html %}
	<body lang='ES_es'>
		<div class='fondo-blanco'>
		    {% include nav.html %}
	    </div>
	    <div class='contenedor-sin-relleno'>
	    	<div class='fila'>
	    		<div class='col-lg-12 oculto-xs'>
	    			<ul id='breadcrumb'>
	    				<li><a href='#'><i class="icn icn-hogar icn-md"></i></a></li>
	    				<li><a href='#'> ... </a></li>
	    				<li><a href='#'> Página de portadilla </i></a></li>
	    				<li><a href='#'> Publicación genérica (Noticia, taller de amereida, ediciones, bolsa de trabajo, magister.</a></li>
	    			</ul>
	    		</div>
	    	</div>
	    </div>
	    <div class='fondo-negro-claro'>
		    <div class='wrap'>
		    	<div class='fila'>
		    		<div class='col-lg-12'>
			    		<h1 class="entry-title">{{ page.subtitle }}</h1> <!-- título del post -->
			    		<aside class='entry-details blanco'>publicado el día 19 de Mayo, por Francesca Cambiaso</aside>
			    		<aside class='categorias'>Categorías: <a href='#'>[ Diseño ]</a> <a href='#'>[ Seminario ]</a></aside>
			    	</div>
			    </div>
			</div>
	    </div>
	    <div class='fondo-blanco'>
		    <div class='wrap'>
			    <div class='fila'>
			    	<div class='col-lg-9 col-md-9 col-sm-12'>
			    		{{ content }}
			    	</div>
			    	<div class='col-lg-3 col-md-3'>
			    		{% include aside.html%}
			    	</div>
			    </div>
			</div>
		</div>
		<div class='fondo-comentarios'>
			<div class='wrap cf'>
				{% include comentarios.html%}
			</div>
		</div>
		{% include footer.html%}
	</body>
</html>